<div id="page-content">
  <div class="jumbotron text-white jumbotron-fluid">
    <div class="container" id="home-container">
      <h1 class="display-4">eSignature Templates and Forms Online</h1>
      <p class="lead">Documents Become Legally Binding Once Signed By All Parties</p>
      <a class="btn btn-success btn-lg" href="#" role="button">Upload</a> or
      <button type="button" class="btn btn-light">Choose From Library</button>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-left">
    <small>Copyright &copy; TemplateSign.com</small>
  </div>
</footer>