<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-left">
    <small>Copyright &copy; <%= link_to "TemplateSign.com", root_path, class: "text-white" %></small>
  </div>
</footer>